# PORT
PORT =  # port for run the current project

# CORE
CORE_PORT =  # port for running micro-service 2 which is core service.
CORE_HOST =  # host name of core service
CORE_END_POINT =  # end point for core service

# LOG
LOG_FORMAT =  # morgan log format
LOG_DIR =  # winston daily rotate file /dir

# CORS
ORIGIN =  # set hostname for cors origin or config * for all
CREDENTIALS =  # boolean

# DATABASE
DB_USERNAME =  # mongodb username
DB_PASSWORD =  # mongodb password
DB_DATABASE =  # mongodb database

# TOKEN
SECRET_KEY =  # secret key for jwt

#AWS
AWS_ACCESS_KEY =  # aws access key
AWS_SECRET_ACCESS_KEY =  # aws secret key
AWS_REGION =  # aws region
AWS_MAIN_BUCKET =  # aws main or common bucket